.projects {
    padding-top: 10%;

}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    
    justify-content: center;
    padding-bottom: 10%;
}

.project-container img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}

.project1, .project2 {
    border: 2px solid #ff0095;
    border-radius: 10px;
    width: 45%;
    padding: 3%;
    box-sizing: border-box;
   
}
.project2 {
    text-align: center; /* Centers the content of the box */
}
.project2 p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.gitlink {
    text-align: center;
    padding-bottom: 5%;
}

.gitlink button {
    background-color: #ff0095;
    border: 2px solid #ff0095;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: white;
    color: #ff0095;
}

.gitlink a {
    text-decoration: none;
    font-size: 1.875rem;
    color: white;
}

.gitlink button:hover a {
    color: #ff0095;
}

.project-container h3 {
    color: #ff0095;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .project1, .project2 {
        width: 100%;
        margin-bottom: 2%;
    }
    .projects{
        padding-top: 100%;
    }
}

@media (max-width: 480px) {
    .project-container {
        gap: 5%;
    }
}
